.hero{
height:100vh;
background:
linear-gradient(rgba(5,10,30,.75), rgba(5,10,30,.85)),
url('images/hero.jpg');   /* <-- your new hero image */
background-size:cover;
background-position:center;
background-repeat:no-repeat;

display:flex;
align-items:center;
justify-content:center;
text-align:center;
color:white;
padding:20px;
}
