.hero{
height:100vh;
background:
linear-gradient(rgba(0,0,0,.78),rgba(0,0,0,.78)),
url('images/hero.jpg');   /* local image */

background-size:cover;
background-position:center;
background-repeat:no-repeat;

display:flex;
align-items:center;
justify-content:center;
text-align:center;
color:white;

padding-top:120px; /* fixes navbar overlap */
}
