.hero{
height:100vh;
background:
linear-gradient(rgba(0,0,0,.75), rgba(0,0,0,.75)),
url('images/hero.jpg');
background-size:cover;
background-position:center;
background-repeat:no-repeat;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
color:white;
padding:20px;
}
